@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #fdfffd;
    --color-grey: #d1d1d1;
    --color-text: #22243b;
}

html.dark {
    --color-bg: #0F0F0F;
    --color-grey: #4e4e4e;
    --color-text: #fdfffd;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    width: 100vw;
    height: 100vh;
    @apply flex flex-col items-center;
    /*@apply bg-zinc-900 text-gray-50;*/
    background-color: var(--color-bg);
    color: var(--color-text);
}

#root {
    /*@apply w-full max-w-screen-2xl;*/
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
